* {
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.header h3 {
  color: rgb(10, 103, 79);
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.box {
  position: absolute;
  width: 617px;
  height: 478px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center; /* it center element on y-axis*/
  align-items: center; /* it center element on x-axis*/

  flex-direction: column;
  margin-top: 30px;
  margin-left: 32%;
  margin-bottom: 50px;
}

.box div {
  display: flex;
  justify-content: center; /* it center element on y-axis* /* it center element on x-axis*/

  flex-direction: column;

  margin-top: 20px;
}

label {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
input {
  width: 500px;
}

.lower {
  display: flex;
  justify-content: center; /* it center element on y-axis*/
  align-items: center; /* it center element on x-axis*/

  flex-direction: column;
  margin-top: 35%;
}
.btn {
  gap: 340px;
  display: flex;
}
.btn button {
  color: rgb(10, 103, 79);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  width: 150px;
  padding: 2%;
}
.btn :first-child {
  margin-left: 4%;
}

.btn :nth-child(2) {
  background-color: rgb(10, 103, 79);
  color: white;
}
