* {
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 20px 0px;
}
.header h3 {
  color: rgb(10, 103, 79);
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.box {
  width: 617px;
  padding: 40px 0px 40px 0px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center; /* it center element on y-axis*/
  align-items: center; /* it center element on x-axis*/
  margin: auto;
  flex-direction: column;
}

.box div {
  display: flex;
  justify-content: center; /* it center element on y-axis* /* it center element on x-axis*/

  flex-direction: column;
}

label {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.orginp {
  width: 500px;
  padding: 10px 0px 10px 10px;
  border: 1px solid rgba(159, 125, 225, 0.5);
  color: (61, 61, 61, 1);
  font-size: 18px;
  font-weight: 400;
}

.lower {
  display: flex;
  justify-content: center; /* it center element on y-axis*/
  align-items: center; /* it center element on x-axis*/

  flex-direction: column;
}
.btn {
  gap: 340px;
  display: flex;
}
.prev {
  color: rgb(10, 103, 79);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  width: 150px;
  padding: 2%;
  border: none;
}
.btn :first-child {
  margin-left: 4%;
}

.btn :nth-child(2) {
  background-color: rgb(10, 103, 79);
  color: white;
}
.lebinp div {
  padding: 10px 0px 10px 0px;
}
