* {
  font-family: Roboto;
}
.earn {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  word-spacing: 10px;
}

.pcimg {
  height: 497px;
  width: 100%;
}
.sliderbox {
  position: absolute;
  top: 142px;
  left: 488px;
  right: 489px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  color: #ffffff;

  text-align: center;
  font-size: 20px;
  font-weight: 370;
  line-height: 21.09px;
  margin: auto;
}
.nowrap {
  white-space: nowrap;
}

.buton {
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  background-color: rgb(10, 103, 79);
  color: white;
  border-radius: 3px;
  border: none;
  text-align: center;

  font-size: 20px;
  font-weight: 450;

  margin-top: 25px;
}
