* {
  font-family: Roboto;
}
.box {
  position: relative;
  width: 392px;
  height: 432px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  margin-left: 40%;
  margin-top: 14%;
  padding: 25px;
}

.upperprt {
  color: rgb(10, 103, 79);
  margin-bottom: 20px;
}

.upperprt h3 {
  color: rgb(10, 103, 79);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.upperprt p {
  color: rgb(10, 103, 79);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.lower {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
hr {
  width: 98%;
  border: 0.3px solid rgba(0, 0, 0, 0.4);
}
