.empsignup {
  background-color: rgb(10, 103, 79);
  border-radius: 10px;
  /* margin-left: 45;
    margin-top: 10%;
    margin-bottom: 10%; */
  cursor: pointer;
  margin-top: 130px;
  margin-bottom: 120px;
  margin-left: 45%;
  color: white;
  height: 40%;
  width: 12%;
  text-align: center;
  padding: 15px;
}
