* {
  font-family: Roboto;
}
.box {
  height: 700px;
  width: 1000px;
  box-sizing: border-box;
  /* border: 0.5px solid rgba(0, 0, 0, 0.4); */
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  padding: 26px;
  margin-left: 279px;
}
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.resume h4 {
  color: rgb(10, 103, 79);
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.name h2 {
  margin-bottom: 10px;
}

.name p {
  margin-bottom: 10px;
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  margin-top: 80px;
}
.intro h5 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.intro span {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.skills h5 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.skills {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;
  margin-top: 80px;
}
.skills p {
  margin-left: 26px;
  color: rgb(0, 0, 0);

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
strong {
  color: rgb(0, 0, 0);
}
.reject {
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  margin-top: 70px;
}
hr {
  color: rgb(0, 0, 0);
}
