/* 
     height: 497px;
    width: 1366px; */
/* background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0px; */

/* Rectangle 64 */
body {
  margin: 0;
  padding: 0;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-align: center;
  font-family: Roboto;
  /* margin-top: 66px;
margin-right: 577px;
margin-left: 576px; */
}
.earn {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: center;
}
.student {
  /* Student signup */
  cursor: pointer;
  width: 156px;
  height: 55px;
  background-color: rgb(10, 103, 79);
  color: white;
  border-radius: 3px;
  border-color: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 25px;
  /* display: flex;
justify-content: center;
align-items: center; */

  /* Auto layout */
  /* display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 17px; */
}

.signup {
  background-color: rgb(10, 103, 79);
  border-radius: 10px;
  /* margin-left: 45;
    margin-top: 10%;
    margin-bottom: 10%; */
  cursor: pointer;
  margin-top: 130px;
  margin-bottom: 120px;
  margin-left: 45%;
  color: white;
  height: 40%;
  width: 12%;
  text-align: center;
  padding: 15px;
}
