.mainbox {
  background-color: white;
  display: flex;
  padding: 20px 80px 20px 10px;
  flex-direction: column;
}
h3 p {
  color: rgba(10, 103, 79, 1);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon span,
img {
  padding: 5px;

  color: rgba(10, 103, 79, 1);
}

.line {
  width: 100px;

  margin: 0px 0px 0px 5px;
  height: 1px;
}
.foot {
  display: flex;
  justify-content: space-between;
}

.app {
  display: flex;
  padding: 5px;
  gap: 10px;
  color: rgba(10, 103, 79, 1);
}
.num {
  font-weight: 400;
}
.title h3 {
  color: rgba(10, 103, 79, 1);
  font-size: 20px;
}
.title p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
