.next {
  border: none;
  color: white;
  background-color: rgb(10, 103, 79);

  padding: 10px 60px 10px 60px;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
}

.btn {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  margin-bottom: 50px;
}
.prev {
  padding: 10px 60px 10px 60px;
  border: 1px solid rgb(10, 103, 79);
  color: rgb(10, 103, 79);
  font-size: 18px;
  background-color: white;
  border-radius: 3px;
  font-weight: 400;
}
