.outerbox {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.inputGroup:last-child {
  margin-right: 0;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* .nextbtn {
  padding: 10px;
  width: 180px;
  background-color: rgb(10, 103, 79);
  color: white;
  font-size: 1.8em;
  text-align: center;
  border-radius: 3px;
  border: none;
} */

.tex1 {
  font-size: 18px;
  color: black;
  font-weight: 400;
}
.tex {
  font-size: 18px;
  color: black;
  font-weight: 400;
  width: 70%;
}

.header {
  padding: 80px 0px 10px 0px;
}
.tex2 {
  font-size: 18px;
  color: black;
  font-weight: 400;
  padding: 20px;
}
.prev {
  padding: 10px 20px 10px 20px;
  color: rgb(10, 103, 79);
  border: rgb(10, 103, 79);
  font-size: 18px;
  font-weight: 400;
}
.buttonContainer {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  margin-top: 20px; /* Adjust as needed */
}

button {
  padding: 10px 20px;
  background-color: #0a674f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
