.color {
  background-color: rgb(229, 229, 229);
  height: 100vh;
  text-align: center;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  margin-left: 60px;
}
.color h4 {
  font-family: Roboto;
  font-size: 27px;
  color: rgb(31, 19, 91);
}
.header h4 {
  margin-bottom: 10px;
  margin-left: 13px;
  font-size: 35px;
}

.header p {
  font-size: 30px;
}
.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;

  width: 410px;
  height: 470px;
}
.stud {
  color: rgb(95, 39, 205);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-top: 13%;
  margin-left: 15px;
  margin-right: 58px;
}

.emp {
  color: rgb(107, 107, 107);
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  margin-top: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
.login {
  border-radius: 0.1px;
  text-align: center;
  width: 55%;
  padding: 4%;
  margin-left: 50px;
  margin-top: 25px;
  background-color: white;
  font-size: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  line-height: 21px;
}
.log {
  /* width: 308px; */

  background-color: rgb(10, 103, 79);
  color: white;
  padding: 5px 140px 5px 120px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
.account {
  text-align: center;
  padding: 5px 0px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  margin-right: auto;
  color: black;
  margin-left: auto;
}
.fgtpswd {
  color: rgb(95, 39, 205);
  margin: 0px 0px 0px 180px;
  font-size: 18px;
  text-decoration: none;
}
a {
  color: rgb(95, 39, 205);
}
.text {
  font-size: 24px;
  color: rgb(31, 19, 91);
  padding: 8px;
  font-family: Roboto;
  margin-left: -22px;
}

.or {
  display: flex;
  /* margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 13px; */
  margin: auto;
  font-weight: 400px;
  font-size: 20px;
}

.left {
  width: 42px;
  margin-top: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.right {
  width: 42px;
  margin-top: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.signupinp {
  width: 308px;
  /* padding: 5px 5px 5px 5px; */
  border-color: 0.5px solid blueviolet;
}

.googl {
  height: 40px;
  border: 0.5px solid blueviolet;
  width: 250px;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  padding: auto;
  padding-top: 10px;
  text-align: center;
  color: black;
  font-weight: 500;
  margin-right: 15%;
}
.line1 {
  margin: auto;
}

.studemp {
  margin: auto;
}

.lab {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.label {
  padding: 10px;
}
.navlink {
  color: white;
  text-decoration: none;
}
.signupbtn {
  margin: auto;
  padding: 10px 0px 0px 10px;
  font-size: 5px;
  color: black;
}
