.footer {
  height: 240px;
  width: 100%;
  background-color: rgb(52, 31, 151);
  display: flex;
  justify-content: space-evenly;
  gap: 20%;
  margin-top: 10%;
  /* 
  align-items: center; */
}

.lists ul li {
  flex-direction: column;
  list-style: none;
  color: white;
  font-size: 22px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 40px;
  white-space: no-wrap;
}

/* padding: 15px; */
/* margin-left: -200px; */

.icons {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 25px;
  cursor: pointer;
  background-color: rgb(52, 31, 151);
}

/* margin-right: -50px; */

/* h4{

   
    color: whitesmoke;
    font-size: 1em;
}    */
