.box {
  width: 617px;
  padding: 30px 40px 20px 40px;
  margin: auto;
  border: 1px solid;
  border-color: rgba(159, 125, 225, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.CreatePost {
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  color: rgba(10, 103, 79, 1);
}
.jbnm {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: rgba(10, 103, 79, 1);
  padding: 10px 0px 0px 0px;
  text-align: left;
}
.radiobuttons {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 5px 0px;
}
.label {
  width: 533px;
  border: 1px solid rgba(159, 125, 225, 0.5);
  font-size: 18px;

  font-weight: 400;

  border-radius: 3px;
  padding: 10px 0px 10px 10px;
}
.box1 {
  border: 1px solid rgba(159, 125, 225, 0.5);
  width: 531px;
  padding: 10px 0px 10px 10px;
  border-radius: 3px;
}
.nxtbtn {
  background-color: rgba(10, 103, 79, 1);
  color: white;
  border-radius: 2px;
  height: 50px;
  width: 200px;
  margin: 35px 170px;
  font-size: 35px;
  border: none;
}
