* {
  font-family: Roboto;
  color: #1f135b;

  font-size: 18px;

  line-height: 21.09px;
  text-align: left;
}
h1 {
  font-size: 2em;
}
.active {
  color: #1f135b;
}
.nav {
  margin: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.list ul li {
  display: inline;
  margin-right: 18px;
  cursor: pointer;
}
.list ul li NavLink {
  text-decoration: none;
}
.loginbtn {
  font-family: Roboto;
  border-radius: 5px;
  padding: 21px;
  width: 100px;
  height: 40px;
  background-color: white;
  text-align: center;
  padding: 2%;
  color: #1f135b;
  border-color: rgba(31, 19, 91, 0.5);
  border: 1px solid;
  cursor: pointer;
}
