.innerbox {
  height: 75vh;
  width: 30vw;
  border-color: none;
  background-color: white;
  margin: 60px auto;
  padding: 10px;
}
.outer {
  background-color: rgb(229, 229, 229);
  height: 100vh;
}

h6 {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 25px;
}
p {
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-left: 43px;
  /* margin-bottom: -50px; */
}
.google {
  height: 40px;
  border: 0.5px solid blueviolet;
  width: 250px;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  padding: auto;
  padding-top: 10px;
  text-align: center;
  color: black;
  font-weight: 500;
  margin-right: 22%;
}
.google span {
  margin-right: 10px;
}

.googleinner {
  padding: 1px 24px;
}
.or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.orleft {
  height: 0px;
  width: 50px;
  border: 0.1px solid blueviolet;
}

.orright {
  height: 0px;
  width: 50px;
  border: 0.1px solid blueviolet;
}

.frm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 80px;
}

label {
  margin-top: 10px;
}
input {
  width: 90%;
}

::placeholder {
  color: black;
}

button {
  margin: 20px 2px;
}
.term {
  margin-top: 10px;
  margin-right: 40px;
  font-size: 15px;
}
.Mac {
  width: 80%;
  height: 10%;
}

.sgnup {
  width: 20pc;
}
.Char {
  color: grey;
}
.account {
  font-size: 20px;
}
